{% sw_extends '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' %}

{% block page_product_detail_cross_selling_tabs_navigation %}
    <h2 class="cross-selling-title">Featured Products</h2>
    <p class="cross-selling-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
{% endblock %}
